{# djlint:off #}
<!-- prettier-ignore-start -->
{% extends 'public/base_public.html' %} {% block title %}BECC | Building
Empowered Communities{% endblock %} {% block content %} {% include 'public/components/_hero.html' %} {% include 'public/components/_impact.html' %}
{% include 'public/components/_partners.html' %} 
{% include 'public/components/_about.html' %} 
{% include 'public/components/_pillars.html' %}
{% include 'public/components/_projects.html' %}
{% include 'public/components/_cta.html' %}
{% include 'public/components/_contact.html' %}
{% endblock %}
<!-- prettier-ignore-end -->